.option {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 2rem;
  border-bottom: 1px solid lighten($light-blue, 10%);

  &__text {
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    margin: 0 1rem 0 0;
    word-break: break-all;
  }
}
